In [2]:
# read csv file
import pandas as pd

df = pd.read_csv('dataset.csv')

In [6]:
df.head()

,dna,protein,organism,GeneID,description,tokenized,fine_tuned,len
0,ATGGATTACCGACCTTCTGATAGTAGTGGTACAGATGATGACCTGC...,MDYRPSDSSGTDDDLPPSHQGRYQRNARPTGNGRPSVLNSAPLSRV...,Arabidopsis thaliana,831142.0,NM_121305.4:488-1681 EML3,M_ATG D_GAT Y_TAC R_CGA P_CCT S_TCT D_GAT S_AG...,False,398
1,ATGAATATTACCATGATCAACTCGGTTTCAACAGATGTATATAATC...,MNITMINSVSTDVYNQLGLYTPAIDVWSIGCIFAEVLTWKPLFPGK...,Arabidopsis thaliana,828086.0,NM_148189.2:86-508 AT4G01595,M_ATG N_AAT I_ATT T_ACC M_ATG I_ATC N_AAC S_TC...,False,141
2,ATGAGTAGCTTCATTTTAGCAACAACACTCCTTATGGCTCTGATAT...,MSSFILATTLLMALICFVSLPISTVGLQKKPWPKPSELVAGRHHGK...,Arabidopsis thaliana,5007775.0,NM_001084209.2:68-763 AT1G44224,M_ATG S_AGT S_AGC F_TTC I_ATT L_TTA A_GCA T_AC...,False,232
3,ATGAAAAGATCAAAACTTTACAAAACCCAAACAGTTTCAAACTCAG...,MKRSKLYKTQTVSNSVCNENLKERKRKIARGRFNMLCLVSLFIMEL...,Arabidopsis thaliana,7922485.0,NM_001161061.1:1-375 AT2G25169,M_ATG K_AAA R_AGA S_TCA K_AAA L_CTT Y_TAC K_AA...,True,125
4,ATGGTGCCGAAAAAGCTTCCATTAGATCTGGAAGAAGAGATACTCT...,MVPKKLPLDLEEEILFRVPPRSLHCFRSVCKEWNALSRDKRLINKN...,Arabidopsis thaliana,833674.0,NM_123062.1:1-729 AT5G37040,M_ATG V_GTG P_CCG K_AAA K_AAG L_CTT P_CCA L_TT...,False,243

In [ ]:
from cl_preprocessing import start_preprocessing

datafile_path = './cl_dataset/organism=Homo sapiens.csv'
train_loader, val_loader, test_loader = start_preprocessing(datafile_path) 
"""
train_loader has 661 batches where each batch has 64 sequences. Input example: tensor([11,  2, 17,  ...,  0,  0,  0])
test_loader has 13202 batches, where each batch has 1 sequence. Input same as train_loader
val_loader has 10562 batches, where each batch has 1 sequence. Input same as train_loader 
"""

In [ ]:
from model import RNNModel, train
from torch.nn import CrossEntropyLoss
import torch.optim as optim

model = RNNModel()
train_config = {
    'num_epochs': 10,
    'loss_fn': CrossEntropyLoss(),
    'optimizer': optim.Adam(model.parameters(), lr=0.001),
    'rank': 'cuda' if __import__('torch').cuda.is_available() else 'cpu'
}

train(train_config, model, train_loader)